.HomePage {
    min-height: 100vh;
    text-align: center;
    width: 80%;
    margin: auto;

    h1 {
        color: red;
    }

    .home-sous-titre {
        text-align: left;
        font-size: x-large;
        font-weight: bold;
        margin-top: 5%;
    }
}
